<h5>Currently you have: $<%= "#{session[:total_money]}" %></h5>
<p>How much would you like to bet?</p>
<form class="form-inline" method="post">
  <input type="text" name="bet">
  <button type="submit" class="btn">Bet</button>
</form>